<script lang="ts">
  import { afterUpdate } from 'svelte'

  export var localize: (key: string) => string = () => ''

  import type {
    ManeuverDescriptor,
    ModifierDescriptor,
  } from '../../module/model/modifier.js'
  import { BaseCharacter } from '../../module/model/character.js'
  import { CombatTalent } from '../../module/model/properties.js'
  import { Weapon } from '../../module/model/items.js'

  export var availableManeuvers: ManeuverDescriptor[] = []

  interface FoundryApp {
    close: () => void
    setPosition: () => void
  }

  export var callback: (
    modifiers: ModifierDescriptor[],
    finalMod: number
  ) => void = () => undefined
  export var foundryApp: FoundryApp | undefined = undefined
  export var lastManeuver: ManeuverDescriptor[] | undefined = undefined
  export var character: BaseCharacter
  export var talent: CombatTalent | undefined
  export var weapon: Weapon | undefined
  let appHeight: number
  let finalMod: number

  let showEditor: boolean = availableManeuvers.length > 0

  let maneuvers = new Map<string, ManeuverDescriptor>()
  const customModifier: ModifierDescriptor = {
    name: 'custom',
    mod: 0,
    modifierType: 'other',
  }
  let selectedManeuver: ManeuverDescriptor | undefined = undefined

  const highestMod = 15
  $: lowestMod = selectedManeuver?.minMod || 0
  $: modifierValues = [...Array(highestMod + 1 - lowestMod).keys()].map(
    (i) => i + lowestMod
  )

  function deleteManeuver(maneuverName: string) {
    return () => {
      maneuvers.delete(maneuverName)
      maneuvers = maneuvers
    }
  }

  function selectManeuver(maneuver) {
    return () => {
      selectedManeuver = maneuver
    }
  }

  function addManeuver(mod: number) {
    return () => {
      if (selectedManeuver) {
        selectedManeuver.mod = mod
        maneuvers = maneuvers.set(selectedManeuver.name, {
          ...selectedManeuver,
        })
      }
      selectedManeuver = undefined
    }
  }

  $: modifiers = character.attackModifiers({
    maneuvers: [...maneuvers.values()],
    talent: talent as CombatTalent,
    weapon: weapon as Weapon,
  })


  function submit() {
    callback([...modifiers, customModifier], finalMod)
    foundryApp?.close()
  }

  function loadLastManeuver() {
    maneuvers = new Map()
    if (lastManeuver) {
      for (const maneuver of lastManeuver) {
        maneuvers = maneuvers.set(maneuver.name, { ...maneuver })
      }
    }
  }

  $: finalMod = [...modifiers, customModifier].reduce(
    (prev, modifier) => modifier.mod + prev,
    0
  )

  afterUpdate(() => {
    if (appHeight) foundryApp?.setPosition()
  })
</script>

<div bind:clientHeight={appHeight} style="font-size: large">
  {#if showEditor}
    <button on:click={loadLastManeuver} style="margin-bottom: 20px"
      >{localize('lastManeuver')}</button
    >
    {#if selectedManeuver}
      <div class="wrapperMod">
        {#each modifierValues as modifierValue}
          <div>
            <button on:click={addManeuver(modifierValue)}
              >{modifierValue}</button
            >
          </div>
        {/each}
      </div>
    {:else}
      <div class="wrapper">
        {#each availableManeuvers as maneuver}
          <div>
            <button on:click={selectManeuver(maneuver)}
              >{localize(maneuver.name)}</button
            >
          </div>
        {/each}
      </div>
    {/if}
    <div style="margin-top:20px;">
      {#each modifiers as modifier}
        {#if modifier.name != 'custom'}
          <div>
            <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions a11y-missing-attribute -->
            <a on:click={deleteManeuver(modifier.name)}
              ><i class="fas fa-trash" /></a
            >
            {localize(modifier.name)}
            {#if modifier.source}
              ({modifier.source})
            {/if}
            :
            {modifier.mod}<br />
          </div>
        {/if}
      {/each}
    </div>
  {/if}

  <div style="margin-top:20px;">
    {localize('modifier')}
    <input type="number" bind:value={customModifier.mod} />
  </div>

  {#if showEditor}
    <p style=" font-size: x-large;">{localize('totalModifier')}: {finalMod}</p>
  {/if}

  <button on:click={submit}>Roll</button>
</div>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: minmax(auto, auto) 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); */
    gap: 10px;
    grid-auto-rows: 40px;
  }

  .wrapperMod {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 10px;
    grid-auto-rows: 40px;
  }
</style>
