<div class='spells'>
  {{#each owned.spells as |spell id|}}
    <div class='form-group spell' data-attribute='{{spell._id}}'>
      <div class='spell-label'>
        <a class='open-lcd-page' data-lcd-page='{{spell.system.lcdPage}}'><i
            class='fas fa-book'
          ></i></a>
        <a class='item-edit' name='{{spell._id}}'><i
            class='fas fa-wrench'
          ></i></a>
        <a
          class='roll-spell'
          name='{{spell._id}}'
          title='Probe'
        >{{spell.name}}</a>
        (
        {{localize (concat 'DSA.' spell.system.test.firstAttribute '_abbr')}}
        /
        {{localize (concat 'DSA.' spell.system.test.secondAttribute '_abbr')}}
        /
        {{localize (concat 'DSA.' spell.system.test.thirdAttribute '_abbr')}}
        )
      </div>
      <div class='flexrow'>
        <input
          name='owned.{{spell._id}}.system.value'
          type='number'
          value='{{spell.system.value}}'
          placeholder='Wert'
        />
      </div>
    </div>
  {{/each}}
</div>