<svelte:options accessors={true} />

<script lang="ts">
  import { ApplicationShell } from '@typhonjs-fvtt/runtime/svelte/component/core'
  import { TJSDocument } from '@typhonjs-fvtt/runtime/svelte/store/fvtt/document'

  import { getContext, setContext } from 'svelte'

  import ActorSheet from './ActorSheet.svelte'
  export let doc: TJSDocument
  setContext('doc', doc)
  export let elementRoot

  async function updateDoc(_event) {
    await $doc.sheet.update()
  }

  const application = getContext<any>('#external').application
  const isEditMode = application.sessionStorage.getStore(
    'edit-mode-state',
    false
  )
  setContext('isEditMode', isEditMode)

  function onDrop(event) {
    try {
      $doc.sheet._onDrop(event)
    } catch (err) {
      /**/
    }
  }
</script>

<ApplicationShell bind:elementRoot>
  <!-- svelte-ignore a11y-no-static-element-interactions -->
  <div on:change={updateDoc} on:drop|preventDefault|stopPropagation={onDrop}>
    <ActorSheet bind:doc />
  </div>
</ApplicationShell>
