<svelte:options accessors={true} />

<script lang="ts">
  import { scale } from 'svelte/transition'
  import { ApplicationShell } from '@typhonjs-fvtt/runtime/svelte/component/core'
  import { getContext } from 'svelte'

  export let elementRoot = void 0
  export let dialogComponent

  const foundryApp = getContext<any>('#external').application
</script>

<ApplicationShell
  bind:elementRoot
  transition={scale}
  transitionOptions={{ duration: 1000 }}
>
  <svelte:component this={dialogComponent} {...$$props} {foundryApp} />
</ApplicationShell>
