<script lang="ts">
  import { getContext } from 'svelte'
  import { DsaActor } from '../module/actor/actor.js'

  import { getLocalizer } from '../module/utils.js'
  import { Writable } from 'svelte/store'

  let doc = getContext<Writable<DsaActor>>('doc')

  const localize = getLocalizer()

  async function createEffect() {
    const itemData = {
      name: localize('newEffect'),
      icon: 'icons/svg/item-bag.svg',
    }

    return await $doc.createEmbeddedDocuments('ActiveEffect', [itemData], {
      renderSheet: true,
    })
  }
</script>

<!-- svelte-ignore a11y-interactive-supports-focus -->
<!-- svelte-ignore a11y-no-redundant-roles -->
<!-- svelte-ignore a11y-missing-attribute -->
<a on:click={() => createEffect()} on:keydown={() => createEffect()} role="link"
  ><i class="fas fa-plus" />
  {localize('add')}</a
>
