<script lang="ts">
  import { getLocalizer } from '../module/utils.js'

  const localize = getLocalizer()

  interface FoundryApp {
    close: () => void
    setPosition: () => void
  }

  export var callback: (modifier: number) => void = () => undefined
  export var foundryApp: FoundryApp | undefined = undefined

  let modifier: number

  function submit() {
    callback(modifier)
    foundryApp?.close()
  }
</script>

<div style="font-size: large">
  <div style="margin-top:20px;">
    {localize('modifier')}
    <input type="number" bind:value={modifier} />
  </div>

  <button on:click={submit}>{localize('roll')}</button>
</div>
