<script lang="ts">
  import { getLocalizer } from '../../../module/utils.js'

  import { Tabs, Tab, TabList, TabPanel } from 'svelte-tabs/src/index.js'
  import { getContext } from 'svelte'
  import ItemList from './ItemList.svelte'
  import ItemCreator from '../../ItemCreator.svelte'
  import type { PhysicalItemType } from '../../../module/model/item-data.js'

  import { CharacterDataAccessor } from '../../../module/model/character.js'
  import { Writable } from 'svelte/store'

  const localize = getLocalizer()

  let doc = getContext<Writable<CharacterDataAccessor>>('doc')

  const itemTypes: PhysicalItemType[] = [
    'meleeWeapon',
    'rangedWeapon',
    'armor',
    'shield',
    'genericItem',
  ]

  const tabLabels = {
    meleeWeapon: 'meleeWeapons',
    rangedWeapon: 'rangedWeapons',
    armor: 'armor',
    shield: 'shields',
    genericItem: 'genericItems',
  } as const
</script>

<Tabs>
  <TabList>
    {#each itemTypes as itemType}
      <Tab>{localize(tabLabels[itemType])}</Tab>
    {/each}
  </TabList>

  {#each itemTypes as itemType}
    <TabPanel>
      <ItemCreator {itemType} />

      <ItemList items={$doc.itemTypes[itemType]} />
    </TabPanel>
  {/each}
</Tabs>
