<div class='talents'>
  <div class='form-group talent' data-attribute='{{talent._id}}'>
    <div class='talent-label'></div>
    <div class='flexrow'>
      {{localize 'DSA.effectiveEncumbaranceAbbr'}}
    </div>
    <div class='flexrow'>
      <div>
        AT/FK
      </div>
      <div>
        PA
      </div>
      <div>
        TaW
      </div>
    </div>
  </div>
  {{#each owned.combatTalents as |talent id|}}
    <div class='form-group talent' data-attribute='{{talent._id}}'>
      <div class='talent-label'>
        <a class='item-edit' name='{{talent._id}}'><i
            class='fas fa-wrench'
          ></i></a>
        {{talent.name}}
      </div>
      <div class='flexrow'>
        {{#if (eq talent.system.effectiveEncumbarance.type 'none')}}
          -
        {{/if}}
        {{#if (eq talent.system.effectiveEncumbarance.type 'special')}}
          {{localize 'DSA.special'}}
        {{/if}}
        {{#if (eq talent.system.effectiveEncumbarance.type 'formula')}}
          {{talent.system.effectiveEncumbarance.formula}}
        {{/if}}
      </div>
      <div class='flexrow'>
        {{#if
          (or
            (eq talent.system.combat.category 'melee')
            (eq talent.system.combat.category 'unarmed')
          )
        }}
          <input
            name='owned.{{talent._id}}.system.combat.attack'
            type='number'
            data-dtype='Number'
            value='{{talent.system.combat.attack}}'
            placeholder='Wert'
          />
          <input
            name='owned.{{talent._id}}.system.combat.parry'
            type='number'
            data-dtype='Number'
            value='{{talent.system.combat.parry}}'
            placeholder='Wert'
          />
        {{/if}}
        {{#if (eq talent.system.combat.category 'ranged')}}
          <input
            name='owned.{{talent._id}}.system.combat.rangedAttack'
            type='number'
            data-dtype='Number'
            value='{{talent.system.combat.rangedAttack}}'
            placeholder='Wert'
          />
          <input
            name=''
            type='number'
            data-dtype='Number'
            value=''
            placeholder=''
            disabled
          />
        {{/if}}
        {{#if (eq talent.system.combat.category 'special')}}
          <input
            name='owned.{{talent._id}}.system.combat.attack'
            type='number'
            data-dtype='Number'
            value='{{talent.system.combat.attack}}'
            placeholder='Wert'
          />
          <input
            name=''
            type='number'
            data-dtype='Number'
            value=''
            placeholder=''
            disabled
          />
        {{/if}}
        <input
          name='owned.{{talent._id}}.system.value'
          type='number'
          data-dtype='Number'
          value='{{talent.system.value}}'
          placeholder='Wert'
        />
      </div>
    </div>
  {{/each}}
</div>