<div class='talents'>
  <div class='form-group talent' data-attribute='{{talent._id}}'>
    <div class='talent-label'></div>
    <div class='flexrow'>
      {{localize 'DSA.effectiveEncumbaranceAbbr'}}
    </div>
    <div class='flexrow'>
      <div>
        TaW
      </div>
    </div>
  </div>
  {{#each owned.languages as |talent id|}}
    <div class='form-group talent' data-attribute='{{talent._id}}'>
      <div class='talent-label'>
        <a class='item-edit' name='{{talent._id}}'><i
            class='fas fa-wrench'
          ></i></a>
        <a name='{{talent._id}}' title='Probe'>{{talent.name}}</a>
        (
        {{localize (concat 'DSA.' talent.system.test.firstAttribute '_abbr')}}
        /
        {{localize (concat 'DSA.' talent.system.test.secondAttribute '_abbr')}}
        /
        {{localize (concat 'DSA.' talent.system.test.thirdAttribute '_abbr')}}
        )
      </div>
      <div class='flexrow'>
        {{#if (eq talent.system.effectiveEncumbarance.type 'none')}}
          -
        {{/if}}
        {{#if (eq talent.system.effectiveEncumbarance.type 'special')}}
          {{localize 'DSA.special'}}
        {{/if}}
        {{#if (eq talent.system.effectiveEncumbarance.type 'formula')}}
          {{talent.system.effectiveEncumbarance.formula}}
        {{/if}}
      </div>
      <div class='flexrow'>
        <input
          name='owned.{{talent._id}}.system.value'
          type='number'
          value='{{talent.system.value}}'
          placeholder='Wert'
        />
      </div>
    </div>
  {{/each}}
  {{#each owned.scriptures as |talent id|}}
    <div class='form-group talent' data-attribute='{{talent._id}}'>
      <div class='talent-label'>
        <a name='{{talent._id}}' title='Probe'>{{talent.name}}</a>
        (
        {{localize (concat 'DSA.' talent.system.test.firstAttribute '_abbr')}}
        /
        {{localize (concat 'DSA.' talent.system.test.secondAttribute '_abbr')}}
        /
        {{localize (concat 'DSA.' talent.system.test.thirdAttribute '_abbr')}}
        )
      </div>
      <div class='flexrow'>
        <input
          name='owned.{{talent._id}}.system.value'
          type='number'
          value='{{talent.system.value}}'
          placeholder='Wert'
        />
      </div>
    </div>
  {{/each}}
</div>