<!-- SkillRoll.svelte -->
<script lang="ts">
  import { afterUpdate } from 'svelte'
  import { isLiturgy, isTalent } from '../../module/character/skill.js'
  import type { BaseCharacter } from '../../module/model/character.js'
  import { attributeNames } from '../../module/model/character-data.js'
  import type { ModifierDescriptor } from '../../module/model/modifier.js'
  import type {
    BaseSkill,
    Testable,
    TestAttributes,
  } from '../../module/model/properties.js'
  import { liturgyDegrees } from '../../module/model/properties.js'

  export var localize: (_key: string) => string = () => ''
  export var skill: Testable<BaseSkill>
  export var character: BaseCharacter

  interface FoundryApp {
    close: () => void
    setPosition: () => void
  }

  type SkillDialogCallback = (
    modifiers: ModifierDescriptor[],
    totalModifier: number,
    selectedAttributes: TestAttributes
  ) => void

  export var callback: SkillDialogCallback = () => undefined
  export var foundryApp: FoundryApp

  let appHeight: number
  let finalMod: number

  let modifiers = new Map<string, ModifierDescriptor>()
  const customModifier: ModifierDescriptor = {
    name: 'custom',
    mod: 0,
    modifierType: 'other',
  }
  let customMod = 0
  modifiers.set('custom', customModifier)
  $: {
    const customModifier = modifiers.get('custom')
    if (customModifier !== undefined) {
      customModifier.mod = customMod
    }
    modifiers = modifiers
  }

  function submit() {
    callback([...modifiers.values()], finalMod, selectedAttributes)

    foundryApp?.close()
  }

  $: finalMod = [...modifiers].reduce(
    (prev, [_key, maneuver]) => maneuver.mod + prev,
    0
  )

  afterUpdate(() => {
    if (appHeight) foundryApp?.setPosition()
  })

  let selectedAttributes: TestAttributes = [...skill.testAttributes]

  let useEffectiveEncumbarance = isTalent(skill)
    ? skill.effectiveEncumbarance?.type === 'formula'
    : false

  $: effectiveEncumbarance =
    isTalent(skill) && skill.effectiveEncumbarance.formula !== undefined
      ? character?.effectiveEncumbarance(skill.effectiveEncumbarance.formula)
      : 0

  let selectedDegree = isLiturgy(skill) ? skill.degree : ''

  let useDegreeModifier = isLiturgy(skill)
  $: degreeModifier = isLiturgy(skill)
    ? character?.degreeModifier(selectedDegree)
    : 0

  $: {
    if (useEffectiveEncumbarance) {
      modifiers.set('effectiveEncumbarance', {
        name: 'effectiveEncumbarance',
        mod: effectiveEncumbarance || 0,
        modifierType: 'other',
      })
    } else {
      modifiers.delete('effectiveEncumbarance')
    }
    if (useDegreeModifier) {
      modifiers.set('degreeModifier', {
        name: 'degreeModifier',
        mod: degreeModifier || 0,
        modifierType: 'other',
      })
    } else {
      modifiers.delete('degreeModifier')
    }
    modifiers = modifiers
  }
</script>

<div bind:clientHeight={appHeight} style="font-size: large">
  {skill?.name}
  <div style="margin-top:20px;">
    {localize('modifier')}
    <input type="number" bind:value={customMod} data-testid="modifier-input" />
  </div>
  <div>
    {#each [0, 1, 2] as attributeKey}
      <select
        bind:value={selectedAttributes[attributeKey]}
        data-testid={`test-attribute-${attributeKey}`}
      >
        <option value={undefined} />
        {#each attributeNames as attributeName}
          <option value={attributeName}>{localize(attributeName)}</option>
        {/each}
      </select>
    {/each}
  </div>
  {#if isTalent(skill)}
    <div>
      <input
        type="checkbox"
        bind:checked={useEffectiveEncumbarance}
        data-testid="effective-encumbarance-checkbox"
      />
      {localize('effectiveEncumbarance')}:
      {skill.effectiveEncumbarance.formula}
      =
      {effectiveEncumbarance}
    </div>
  {/if}
  {#if isLiturgy(skill)}
    <div style="margin-top:20px;">
      {localize('degree')}
      <select bind:value={selectedDegree} data-testid={`test-degree`}>
        {#each liturgyDegrees as degree}
          <option value={degree}>{degree}</option>
        {/each}
      </select>
    </div>
  {/if}

  <p style=" font-size: x-large;">{localize('totalModifier')}: {finalMod}</p>

  <button on:click={submit} data-testid="submit-button">Roll</button>
</div>

<style>
</style>
