<script lang="ts">
  import { getLocalizer } from '../../module/utils.js'
  import type { ResourceData } from '../../module/model/character-data.js'
  import Input from '../Input.svelte'

  const localize = getLocalizer()

  export let resource: ResourceData
</script>

<div class="container flexrow" role="gridcell">
  <div class="current">
    <input
      type="number"
      bind:value={resource.value}
      placeholder={localize('value')}
    />
  </div>
  <div class="max">
    <Input bind:value={resource.max} />
    <div>
      {localize('max')}
    </div>
  </div>
</div>

<style>
  .container {
    width: 100px;
  }

  input {
    width: 50px;
    text-align: center;
    border-radius: 25%;
    font-size: larger;
  }

  .current {
    padding-top: 11%;
    margin-right: -3px;
  }

  .max {
    width: 50px;
    height: 50px;
    padding-top: 12%;
    text-align: center;
    font-size: larger;

    border: 2px solid black;
    border-radius: 100%;
  }

  .max div {
    margin-top: -5px;
    font-size: x-small;
  }
</style>
