<script lang="ts">
  import { getContext } from 'svelte'
  import { Writable } from 'svelte/store'

  import Resource from './Resource.svelte'

  import type {
    ResourceListData,
    ResourceName,
  } from '../../module/model/character-data.js'
  import { getLocalizer } from '../../module/utils.js'
  import { CharacterDataAccessor } from '../../module/model/character.js'

  export let resources: ResourceListData<ResourceName>
  let doc = getContext<Writable<CharacterDataAccessor>>('doc')

  $: availableResources = [
    'vitality',
    'endurance',
    ...($doc.system.settings.hasKarmicEnergy ? ['karmicEnergy'] : []),
    ...($doc.system.settings.hasAstralEnergy ? ['astralEnergy'] : []),
  ]
  const localize = getLocalizer()
</script>

<div class="container">
  {#each availableResources as resourceName}
    <fieldset>
      <legend data-testid="label">{localize(resourceName)}</legend>
      <Resource bind:resource={resources[resourceName]} />
    </fieldset>
  {/each}
</div>

<style>
  .container {
    width: fit-content;
  }
</style>
