<script lang="ts">
  import Input from '../Input.svelte'
  import { getContext } from 'svelte'
  import { CharacterDataAccessor } from '../../module/model/character.js'
  import { Readable, Writable } from 'svelte/store'
  import { getLocalizer } from '../../module/utils.js'
  import { Character } from '../../module/character/character.js'

  const localize = getLocalizer()
  let doc = getContext<Writable<CharacterDataAccessor>>('doc')
  let character = new Character($doc)
  const isEditMode = getContext<Readable<boolean>>('isEditMode')
</script>

<div data-testid="wound-thresholds">
  <fieldset>
    <legend data-testid="label">{localize('woundThresholds')}</legend>
    <div class="wound-thresholds">
      {#each ['first', 'second', 'third'] as thresholdIndex}
        <div class="value-container">
          <div class="wound-threshold" data-testid="wound-threshold">
            <div class="val">
              {#if $isEditMode}
                <Input
                  bind:value={$doc.system.base.combatAttributes.passive
                    .woundThresholds[thresholdIndex]}
                />
              {:else}
                {character.woundThresholds[thresholdIndex]}
              {/if}
            </div>
          </div>
          {localize(thresholdIndex)}
        </div>
      {/each}
    </div>
    {#if $isEditMode}
      <div class="value-container">
        <div class="wound-threshold" data-testid="wound-threshold-mod">
          <div class="val">
            <Input
              bind:value={$doc.system.base.combatAttributes.passive
                .woundThresholds['mod']}
            />
          </div>
        </div>
        {localize('mod')}
      </div>
    {/if}
  </fieldset>
</div>

<style>
  div.val {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 32px;
    font-size: medium;
  }

  .wound-threshold {
    border: 3px solid black;
    border-radius: 10px;
  }

  .value-container {
    width: 33%;
    margin: 2px;
    text-align: center;
  }

  .wound-thresholds {
    display: flex;
    width: 100%;
  }

  fieldset {
    padding: 0%;
  }
</style>
